// @import "~normalize.css/normalize.css";
@import "./base";
@import "./bootstrap-grid.css";
@import "./aveva-footer";
@import "./media";
@import "./fonts";
@import "./roadmap";
@import "./variables";
@import "./aveva-nav";
@import "./answer";
@import "./question";

.cta {
    display: block;
    color: $white;
    background-color: $orange;
    max-width: max-content;
    padding: 10px 15px;
    @include character(muli, 16px, regular);
    text-decoration: none;
    cursor: pointer;
    &.back {
      background-color: inherit;
      border: 2px solid $orange;
      color: $orange;
      margin-right: 10px;
    }
}

.container--assessment {
    background-color: $light-grey;
    nav {
      display: flex;
    }
    padding-bottom: 60px;
}

.mobile-hamburger {
  @media only screen and (max-width: 1055px) {
    display: block;
  }
  display: none;
  position: fixed;
  width: 100%;
  height: 32px;
  z-index: 103;
  background-color: $dark-purple;
  cursor: pointer;
  .above,
  .middle,
  .below {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: $white;
    left: 20px;
    top: 50%;
    margin-left: -10px;
    transition: 0.3s ease all;
  }
  &.closed {
    .above {
      top: calc(50% - 5px);
    }
    .middle {
      opacity: 1;
    }
    .below {
      top: calc(50% + 5px);
    }
  }
  &.open {
    .above {
      top: 50%;
      transform: rotate(45deg);
    }
    .middle {
      opacity: 0;
    }
    .below {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}

.mobile-nav-background {
  @media only screen and (max-width: 1055px) {
    display: block;
  }
  display: none;
  z-index: 102;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease all;
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.95) 0%, rgba(61, 17, 82, 0.95) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.95) 0%, rgba(61, 17, 82, 0.95) 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.95) 0%, rgba(61, 17, 82, 0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc6b04a8',GradientType=1 );
  &.open {
    opacity: 1;
    pointer-events: all;
  }
  &.closed {
    opacity: 0;
    pointer-events: none;
  }
  .mobile-aveva-link {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    background-color: $orange;
    @include character(muli, 11px, regular);
    color: $white;
    padding: 7px 10px;
    i {
      font-size: 10px;
    }
  }
  .mobile-nav-items {
    margin-top: 55px;
    margin-left: 40px;
    padding-right: 20px;
    @include media-breakpoint-down(xs) {
      margin-left: 20px;
      padding-inline-start: 0px;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 40px;
        position: relative;
        a {
          @include character(barlow, 30px, light);
          text-decoration: none;
          color: $yellow;
          @include media-breakpoint-down(xs) {
            font-size: 18px;
            line-height: 20px;
          }
        }
        &:after {
          position: absolute;
          height: 2px;
          width: 100%;
          max-width: 90px;
          display: block;
          @include orange-red-gradient;
          content: "";
          bottom: -10px;
          left: 0px;
        }
      }
    }
  }
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: "object-fit: cover;";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@include media-breakpoint-up(xl) {
  .container:not(.sticky-container),
  .se-header .inner-default {
    max-width: 1019px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sticky-container {
    max-width: 1019px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@include media-breakpoint-down(lg) {
  .se-header .inner-default {
    max-width: 970px;
    width: 100%;
  }
}
@include media-breakpoint-down(xs) {
  .inner-default {
    width: 100% !important;
    max-width: 100% !important;
  }
  .se-header .inner-default,
  .se-site-footer .inner-default {
    width: 100% !important;
    max-width: 100% !important;
  }
}

header.se-header {
  position: relative;
  @media only screen and (max-width: 1055px) {
    display: none;
  }
}

.se-header.is-homepage .site-container,
.se-site-footer .site-container,
.se-site-footer--legal .site-container {
  max-width: 100% !important;
}

.se-header > .site-container:after {
  opacity: 1 !important;
}

.se-header.is-fixed {
  position: relative !important;
}

.se-header .st-default-search-input {
  padding: 16px 32px 16px 10px !important;
  @media only screen and (max-width: 1122px) {
    max-width: 105px;
  }
}

.se-header .dd-panel.panel-selected {
  top: -6px !important;
}

// .video {
//   max-width: 600px;
//   background-color: $black;

//   .video-container {
//     height: 0;
//     position: relative;
//     padding-bottom: 56.25%;
//     overflow: hidden;
//   }

//   iframe {
//     left: 0;
//     position: absolute;
//     top: 0;
//     z-index: 1;
//   }

//   .play {
//     cursor: pointer;
//     display: flex;
//     left: 0;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     transition: scale 221ms ease-in-out;
//     width: 100%;
//   }

//   .play:hover {
//     transform: scale3d(1.1, 1.1, 1);
//   }

//   .play > * {
//     margin: auto;
//   }
// }

// .assessment-sticky {
//   height: 61px;
//   background-color: $black;
//   z-index: 9;
//   width: 100% !important;
//   @media only screen and (max-width: 1055px) {
//     position: fixed !important;
//     top: auto !important;
//     z-index: 99;
//     bottom: 0px;
//     background-color: $orange;
//     cursor: pointer;
//   }
//   .container {
//     position: relative;
//     height: 100%;
//     .row {
//       position: relative;
//       top: 50%;
//       transform: translateY(-50%);
//       text-align: right;
//       @include media-breakpoint-down(lg) {
//         max-width: 940px;
//       }
//       @include media-breakpoint-down(nineH) {
//         position: relative;
//       }
//       .sticky-box {
//         margin-right: 0px;
//         span {
//           display: inline-block;
//           @include character(muli, 16px, regular);
//           color: $white;
//           margin-right: 20px;
//           @include media-breakpoint-down(xs) {
//             @include character(muli, 12px, regular);
//             margin-right: 5px;
//             max-width: 120px;
//             text-align: right;
//             position: relative;
//             top: 7px;
//           }
//         }
//         a {
//           display: inline-block;
//           background-color: $orange;
//           @include character(muli, 16px, regular);
//           color: $white;
//           padding: 11px 25px;
//           @media only screen and (max-width: 1055px) {
//             border: 1px solid $white;
//           }
//           @include media-breakpoint-down(sm) {
//             @include character(muli, 12px, regular);
//             padding: 8px 8px;
//           }
//         }
//       }
//     }
//   }
// }
// header#top {
//   width: 100%;
//   background-color: $black;
//   height: calc(100vh);
//   position: relative;
//   // padding-top: 115px;
//   z-index: 9;
//   overflow: hidden;
//   @include media-breakpoint-down(md) {
//     padding-top: 56px;
//     height: auto;
//     padding-bottom: 150px;
//   }
//   .header--scroll {
//     position: absolute;
//     bottom: 50px;
//     left: 50%;
//     margin-left: -37.5px;
//     span {
//       display: block;
//       position: relative;
//       @keyframes changePos {
//         from {
//           top: 3px;
//           opacity: 1;
//         }

//         to {
//           top: 25px;
//           opacity: 0;
//         }
//       }
//       .dot-anim {
//         position: absolute;
//         width: 3px;
//         border-radius: 50%;
//         height: 3px;
//         background-color: $white;
//         top: 25px;
//         left: 8px;
//         z-index: 1;
//         animation-duration: 1.2s;
//         animation-name: changePos;
//         animation-iteration-count: infinite;
//         animation-direction: normal;
//         animation-timing-function: ease-out;
//       }
//     }
//   }
//   .mobile-logo-row {
//     display: none;
//     @media only screen and (max-width: 1055px) {
//       display: block;
//       .logo {
//         margin-top: 90px;
//       }
//     }
//     @include media-breakpoint-down(md) {
//       .logo {
//         margin-top: 50px;
//       }
//     }
//     @include media-breakpoint-down(sm) {
//       .logo {
//         margin-top: 50px;
//       }
//     }
//   }

//   .header--title {
//     margin-top: 0px;
//     @include media-breakpoint-down(lg) {
//       margin-top: 45px;
//     }
//     h1 {
//       @include heading-1(light);
//       color: $white;
//       margin-top: 20px;
//       @include media-breakpoint-down(xs) {
//         font-size: 34px;
//         line-height: 40px;
//       }
//     }
//     .rule {
//       @include horizontal-rule;
//     }
//     p {
//       @include paragraph(regular);
//       color: $white;
//       margin-top: 20px;
//     }
//     a {
//       display: inline-block;
//       border: 1px solid $white;
//       color: $white;
//       font-family: $muli;
//       font-size: 16px;
//       font-weight: 300;
//       padding: 12px 13px;
//       text-decoration: none;
//       margin-top: 20px;
//     }
//   }
// }

article {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
    background-color: $white;
    padding-top: 105px;
    @include media-breakpoint-down(xs) {
      padding-top: 50px;
    }
    .left {
      h2 {
        @include heading-2(light);
        color: $white;
        margin: 20px 0px;
        display: block;
        @include article-heading-max-width;
        @include media-breakpoint-down(xs) {
          font-size: 32px;
          line-height: 40px;
        }
        @media only screen and (max-width: 576px) {
          padding-top: 50px;
        }
      }
      p {
         @include article-heading-max-width;
        @include media-breakpoint-down(xs) {
          line-height: 40px;
        }
      }
      .rule {
        @include horizontal-rule;
      }
    }
    .right {
      p {
        @include paragraph(regular);
        color: $white;
        margin-bottom: 25px;
        display: block;
        margin-top: 30px;
      }
      .quote {
        margin-top: 50px;
        @include character(muli, 18px, bold);
        color: $dark-purple;
        width: 100%;
        max-width: 350px;
        margin-bottom: 90px;
        padding-left: 20px;
        border-left: 3px solid $red;
      }
    }
}

footer {
  min-height: 500px;
  width: 100%;
  overflow: hidden;
  .white-cta {
    background-color: $white;
    text-align: center;
    padding: 100px 10px;
    @include media-breakpoint-down(xs) {
      padding: 50px 10px;
    }
    h2 {
      @include character(barlow, 44px, light);
      color: $dark-purple;
      max-width: 720px;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 20px;
      @include media-breakpoint-down(xs) {
        font-size: 34px;
        line-height: 40px;
      }
    }
    h3 {
      @include character(barlow, 24px, light);
      color: $dark-purple;
      max-width: 720px;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 20px;
    }
    a {
      margin: 0 auto;
      display: block;
      color: $white;
      background-color: $orange;
      max-width: max-content;
      padding: 10px 15px;
      @include character(muli, 16px, regular);
      text-decoration: none;
    }
  }
  .grey-cta {
    background-color: #eaecef;
    text-align: center;
    padding: 100px 10px;
  }
  .large-bg-cta {
    max-height: 550px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    @include media-breakpoint-down(sm) {
      .simpleParallax {
        display: flex;
        flex-direction: row-reverse;
      }
    }
    &:before {
      position: absolute;
      z-index: 1;
      content: "";
      background-color: rgba(0, 0, 0, 0.2);
      height: 100%;
      width: 100%;
    }
    .container {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .row {
        @include media-breakpoint-down(sm) {
          min-width: 290px;
        }
      }
      h2 {
        @include character(muli, 21px, regular);
        color: $white;
      }
      a {
        background-color: $orange;
        @include character(muli, 16px, regular);
        color: $white;
        padding: 10px 15px;
        margin-top: 15px;
        display: inline-block;
      }
    }
  }
  .article-bottom {
    background-color: #eaecef;
    padding-top: 105px;
    @include media-breakpoint-down(xs) {
      padding-top: 50px;
    }
    .apm-assessment {
      .left {
        h2 {
          @include heading-2(light);
          color: $dark-purple;
          margin: 20px 0px;
          display: block;
          @include article-heading-max-width;
          @include media-breakpoint-down(xs) {
            font-size: 34px;
            line-height: 40px;
          }
        }
        .rule {
          @include horizontal-rule;
        }
        p {
          color: $charcoal;
          margin-top: 50px;
          @include character(muli, 18px, regular, 27px);
          margin-bottom: 30px;
          max-width: 320px;
          @media only screen and (max-width: 991px) {
            max-width: 100%;
          }
        }
      }
      .right {
        margin-top: 203px;
        @include media-breakpoint-down(lg) {
          margin-top: 20px;
        }
        p {
          @include paragraph(light);
          color: $charcoal;
          margin-bottom: 25px;
          display: block;
        }
        .quote {
          margin-top: 50px;
          @include character(muli, 18px, bold);
          color: $dark-purple;
          width: 100%;
          margin-bottom: 90px;
          padding-left: 20px;
          border-left: 3px solid $red;
        }
      }
    }

    .case-studies {
      .row {
        display: flex;
        @include media-breakpoint-down(lg) {
          display: block;
        }
        .case-item {
          flex: 1;
          background-color: $white;
          padding: 30px;
          &.left {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-right: 10px solid #eaecef;
          }
          &.right {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border-left: 10px solid #eaecef;
          }
          @include media-breakpoint-down(lg) {
            flex: none;
          }
          @media only screen and (max-width: 991px) {
            &.right {
              margin-top: 25px;
              border: 0px;
            }
            &.left {
              border: 0px;
            }
          }
          h2 {
            position: relative;
            top: auto;
            @include character(muli, 21px, regular);
            color: $medium-purple;
            text-align: left;
          }
          ul {
            list-style: none;
            margin-left: 0px;
            padding-inline-start: 0px;
            min-height: 102px;
            @include media-breakpoint-down(md) {
              min-height: 0px;
            }
            li {
              @include character(muli, 18px, light);
              color: $charcoal;
              margin-bottom: 5px;
            }
          }
          p {
            @include character(muli, 18px, regular);
            color: $charcoal;
            min-height: 210px;
            margin-bottom: 30px;
            @include media-breakpoint-down(md) {
              min-height: 0px;
            }
          }
          a {
            background-color: $red;
            @include character(muli, 18px, semi-bold);
            color: $white;
            padding: 11px 35px;
            display: inline-block;
            max-width: max-content;
          }
        }
      }
    }

    .citation {
      margin-top: 15px;
      padding: 10px;
      p {
        @include character(muli, 16px, regular);
        color: $charcoal;
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }

    .blog-article {
      margin-top: 50px;
      padding-bottom: 50px;
      .social-buttons {
        text-align: left;
        margin-bottom: 5px;
        a {
          display: inline-block;
          @include character(muli, 12px, light);
          padding: 10px 0px;
          width: 115px;
          text-align: center;
          color: $white;
          margin: 0px;
          border: 0px;
          text-decoration: none;
          @include media-breakpoint-down(xs) {
            width: 30%;
          }
          i {
            color: $white;
            margin-right: 5px;
            font-size: 15px;
          }
          &.social-facebook {
            background-color: #3b5a98;
          }
          &.social-twitter {
            background-color: #2ba1f2;
          }
          &.social-linkedin {
            background-color: #1d77b6;
          }
        }
      }
      .author-row {
        background-color: $white;
        position: relative;
        max-height: 86px;
        .author-img {
          float: left;
          position: relative;
          img {
            position: relative;
            z-index: 1;
            border: 5px solid $red;
            border-radius: 50%;
          }
          &:before {
            position: absolute;
            height: 100%;
            width: 50%;
            content: "";
            background-color: #eaecef;
            left: 0;
            z-index: 0;
          }
        }
        .author-info {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 110px;
          transform: translateY(-50%);
          @include media-breakpoint-down(md) {
            transform: unset;
            margin-top: 15px;
          }
          p {
            @include character(muli, 15px, light);
            color: $dark-purple;
          }
          hr {
            border: 0px;
            height: 2px;
            background-color: $dark-purple;
            width: 19px;
            margin: 8px 0px;
          }
        }
      }
      .article-copy {
        padding: 40px 90px;
        @include media-breakpoint-down(sm) {
          padding: 40px 40px;
        }
        @include media-breakpoint-down(xs) {
          padding: 40px 20px;
        }
        p {
          @include character(muli, 18px, regular, 27px);
          color: $charcoal;
          &:first-child {
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}
