// @import "~normalize.css/normalize.css";
@import "./base";
@import "./bootstrap-grid.css";
@import "./aveva-footer";
@import "./media";
@import "./fonts";
@import "./roadmap";
@import "./variables";
@import "./aveva-nav";
@import "./answer";
@import "./question";
@import "./progress";

.cta {
    display: block;
    color: $white;
    background-color: $red;
    max-width: max-content;
    padding: 10px 15px;
    @include character(muli, 16px, regular);
    text-decoration: none;
    cursor: pointer;
    border:none;
    transition: all .15s ease-in-out;
    &:hover {
      background-color: $medium-purple;
      color: $white !important;
    }
    &:focus {
      outline: 0;
    }
    &.back {
      background-color: inherit;
      border: 2px solid $red;
      color: $red;
      margin-right: 10px;
      &:hover {
        border: 2px solid $medium-purple;
        color: $medium-purple !important;
      }
    }
}

.results-title {
  color: $yellow !important;
}

.container--assessment {
    background-color: $assessment-grey;
    position: relative !important;
    nav {
      display: flex;
    }
    padding-bottom: 30px;
    padding-bottom: 60px;
}

.mobile-hamburger {
  @media only screen and (max-width: 1055px) {
    display: block;
  }
  display: none;
  position: fixed;
  width: 100%;
  height: 32px;
  z-index: 103;
  background-color: $dark-purple;
  cursor: pointer;
  .above,
  .middle,
  .below {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: $white;
    left: 20px;
    top: 50%;
    margin-left: -10px;
    transition: 0.3s ease all;
  }
  &.closed {
    .above {
      top: calc(50% - 5px);
    }
    .middle {
      opacity: 1;
    }
    .below {
      top: calc(50% + 5px);
    }
  }
  &.open {
    .above {
      top: 50%;
      transform: rotate(45deg);
    }
    .middle {
      opacity: 0;
    }
    .below {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}

.mobile-nav-background {
  @media only screen and (max-width: 1055px) {
    display: block;
  }
  display: none;
  z-index: 102;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s ease all;
  background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.95) 0%, rgba(61, 17, 82, 0.95) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.95) 0%, rgba(61, 17, 82, 0.95) 100%);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.95) 0%, rgba(61, 17, 82, 0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc6b04a8',GradientType=1 );
  &.open {
    opacity: 1;
    pointer-events: all;
  }
  &.closed {
    opacity: 0;
    pointer-events: none;
  }
  .mobile-aveva-link {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    background-color: $orange;
    @include character(muli, 11px, regular);
    color: $white;
    padding: 7px 10px;
    i {
      font-size: 10px;
    }
  }
  .mobile-nav-items {
    margin-top: 55px;
    margin-left: 40px;
    padding-right: 20px;
    @include media-breakpoint-down(xs) {
      margin-left: 20px;
      padding-inline-start: 0px;
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 40px;
        position: relative;
        a {
          @include character(barlow, 30px, light);
          text-decoration: none;
          color: $yellow;
          @include media-breakpoint-down(xs) {
            font-size: 18px;
            line-height: 20px;
          }
        }
        &:after {
          position: absolute;
          height: 2px;
          width: 100%;
          max-width: 90px;
          display: block;
          @include orange-red-gradient;
          content: "";
          bottom: -10px;
          left: 0px;
        }
      }
    }
  }
}

.jarallax {
  position: relative;
  z-index: 0;
}
.jarallax > .jarallax-img {
  position: absolute;
  object-fit: cover;
  /* support for plugin https://github.com/bfred-it/object-fit-images */
  font-family: "object-fit: cover;";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@include media-breakpoint-up(xl) {
  .container:not(.sticky-container),
  .se-header .inner-default {
    max-width: 1019px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .sticky-container {
    max-width: 1019px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@include media-breakpoint-down(lg) {
  .se-header .inner-default {
    max-width: 970px;
    width: 100%;
  }
}
@include media-breakpoint-down(xs) {
  .inner-default {
    width: 100% !important;
    max-width: 100% !important;
  }
  .se-header .inner-default,
  .se-site-footer .inner-default {
    width: 100% !important;
    max-width: 100% !important;
  }
}

header.se-header {
  position: relative;
  @media only screen and (max-width: 1055px) {
    display: none;
  }
}

.se-header.is-homepage .site-container,
.se-site-footer .site-container,
.se-site-footer--legal .site-container {
  max-width: 100% !important;
}

.se-header > .site-container:after {
  opacity: 1 !important;
}

.se-header.is-fixed {
  position: relative !important;
}

.se-header .st-default-search-input {
  padding: 16px 32px 16px 10px !important;
  @media only screen and (max-width: 1122px) {
    max-width: 105px;
  }
}

.se-header .dd-panel.panel-selected {
  top: -6px !important;
}


article {
  width: 100%;
  min-height: 500px;
  overflow: hidden;
    background-color: $white;
    padding-top: 60px;
    @include media-breakpoint-down(xs) {
      padding-top: 50px;
    }
    .left {
      h2 {
        @include heading-2(light);
        color: $white;
        margin: 20px 0px;
        display: block;
        @include article-heading-max-width;
        @include media-breakpoint-down(xs) {
          font-size: 32px;
          line-height: 40px;
        }
        @media only screen and (max-width: 576px) {
          padding-top: 50px;
        }
      }
      p {
         @include article-heading-max-width;
        @include media-breakpoint-down(xs) {
          line-height: 40px;
        }
      }
      .rule {
        @include horizontal-rule;
      }
    }
    .right {
      p {
        @include paragraph(regular);
        color: $white;
        margin-bottom: 25px;
        display: block;
        margin-top: 30px;
      }
      .quote {
        margin-top: 50px;
        @include character(muli, 18px, bold);
        color: $dark-purple;
        width: 100%;
        max-width: 350px;
        margin-bottom: 90px;
        padding-left: 20px;
        border-left: 3px solid $red;
      }
    }
}

