.result-animation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100%;
    position: relative;
    margin: 0 auto;

    @media (min-width: 1000px) {
      margin: 0;
    }

    &:after {
      background-color: $dark-purple;
      bottom: 0;
      content: '';
      height: 80%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      right: 0;
      top: 20%;
      z-index: -1;
    }



    .result-pie {
        h4 {
            color: $yellow;
            margin-bottom: 0px !important;
        }
        h2 {
            color: $white;
            font-size: 5rem;
        }
    }
    .bottom-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 300px;
        padding-bottom: 60px;
        position: relative;
        .over {
            z-index: 300;
        }
        #underlay {
            position: absolute;
            z-index: 0;
            width: 300px;
            height: 0%;
            background-color: $dark-purple;
            bottom: 0;
            animation-delay: 1.5s;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
            animation-duration: 1.25s;
            &.u0 {
                animation-name: u0;
            }
            &.u1 {
                animation-name: u1;
            }
            &.u2 {
                animation-name: u2;
            }
            &.u3 {
                animation-name: u3;
            }
        }
        @keyframes u0 {
            0% {
                height: 0%;
            } 100% {
                height: 69%;
            }
        }
        @keyframes u1 {
            0% {
                height: 0%;
            } 100% {
                height: 78%;
            }
        }
        @keyframes u2 {
            0% {
                height: 0%;
            } 100% {
                height: 86%;
            }
        }
        @keyframes u3 {
            0% {
                height: 0%;
            } 100% {
                height: 95%;
            }
        }
        ul {
        list-style-type: none;
        padding: 0px;
        position: relative;
        opacity: 0;
        transform: translateY(0px);
        animation-name: contentFadeup;
        animation-delay: 1s;
        animation-duration: 1s;
        animation-fill-mode: forwards;

        li {
            color: $medium-purple;
            padding: 10px 0px 0px 0px;
            font-size: 1rem;
            display: flex;
            align-items: center;

            &.active {
                color: $yellow;
                font-size: 1.25rem;
            }
        }
        .dots {
            display: flex;
            flex-wrap: wrap;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            div {
                height: 5px;
                width: 5px;
                background-color: $yellow;
                border-radius: 100%;
                margin: 1px;
            }
        }
        

    }
    h1 {
        padding: 60px 0px 20px 0px;
        color: $white;
        text-align: center;
    }
 }
}

.result-pie {
  height: 100%;
  position: relative;
  width: 100%;

  svg {
    circle {
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
      transform-origin: center center;
    }
  }

  .result-content {
    left: 0;
    padding: 0 1em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 47.5%;
    transform: translateY(-50%);

    p {
      font-family: Barlow;
      line-height: 1.2;
      margin: 0;
      opacity: 0;
      animation-name: contentFade;
      animation-delay: 1s;
        animation-fill-mode: forwards;
    animation-duration: 1s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    }

    p:first-child {
        color: $white;
      font-size: 7em;
    }

    p:nth-child(2) {
      color: $yellow;
      font-size: 24px;
      font-weight: lighter;
    }
  }
  @keyframes contentFade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  @keyframes contentFadeup {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }

}


        .in {
            opacity: 0;
            transform: translateY(0px);
            animation-name: contentFadeup;
            animation-delay: 2s;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        @keyframes contentFadeup {
            0% {
                opacity: 0;
                transform: translateY(10px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }